:root {
    --nl-primary-color: #105458; /*theme 100 or 200*/
    --nl-secondary-color: #5fa43c; /*theme core or 500 or 600*/
    --nl-light-color: #dfe3e4;
    --nl-dark-color: #1b1b1b;
    --nl-yellow-color: #f9e911;
}

.btn-primary{
    background-color: var(--nl-yellow-color);
    color: var(--nl-dark-color);
}

.btn-primary:hover {
    background: var(--nl-secondary-color);
}

.display-5 {
    color: var(--nl-yellow-color);
}

.alert {
    background-color: var(--nl-yellow-color);
}